@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/box-sizing.styl'

:host
  display block
  padding 24px
  background $light
  min-height 100vh

.login-header
  padding 24px 24px 0

.login-logo
  width 150px
