@import './color.styl'
@import './typography.styl'

button()
  display inline-block
  vertical-align top
  paragraph()
  padding 13px 20px
  border-radius 3px
  border none
  text-decoration none
  text-transform uppercase
  font-weight bold
