baseSize()
  font-size 16px;

roboto()
  font-family 'Roboto', sans-serif

body-base(color)
  roboto()
  font-size 1rem
  color color

body-class(color)
  .body
    body-base(color)

h1-base(color)
  roboto()
  font-size 1.5625rem
  font-weight 400
  color color

h1-class(color)
  .h1
    h1-base(color)

h2-base(color)
  roboto()
  font-size 1.25rem
  color color

h2-class(color)
  .h2
    h2-base(color)

h3-base(color)
  roboto()
  font-size 1.125rem
  color color

h3-class(color)
  .h3
    h3-base(color)

small-base(color)
  roboto()
  font-size 0.875rem
  color color

small-class(color)
  .small
    small-base(color)

tiny-base(color)
  roboto()
  font-size 0.75rem
  color color

tiny-class(color)
  .tiny
    tiny-base(color)

sidebar-h1()
  .sidebar-h1
    body-base($dark)
    font-weight 700

sidebar-link()
  .sidebar-link
    body-base($dark)

    &.selected
      color $light

header-h1()
  .header-h1
    h1-base($light)

topic-option-base()
  .topic-option
    body-base($dark)
